<nav class="bg-white   border-gray-200 dark:bg-gray-900 w-full sticky top-0 z-50 p-[7%]">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto h-5">
    <hlm-sheet>
      <div class="flex">
        <!-- Botón condicional: menú o retroceso -->
        @if (isHomeRoute) {
          <button brnSheetTrigger side="left" class="lg:hidden flex p-0.5 rounded-lg items-center">
            <ng-icon hlm size='lg' name="lucideAlignJustify" class="" />
          </button>
        } @else {
          <button (click)="goBack()" class="lg:hidden flex p-0.5 rounded-lg items-center">
            <ng-icon hlm size='lg' name="lucideArrowLeft" class="" />
          </button>
        }
      </div>

      <hlm-sheet-content *brnSheetContent='let ctx' class="bg-white">
          <hlm-sheet-header >
              <h3 hlmSheetTitle class=" rounded-xl mx-1">Edit Profile</h3>
              <p hlmSheetDescription>Make changes to your profile here. Click save when you're done.</p>
          </hlm-sheet-header>
      </hlm-sheet-content>
    </hlm-sheet>
    <a class="text-3xl font-bold leading-none flex" href="#">
      <span class="text-lg text-center">SUPER -</span> <span class="text-lg text-center text-green-700 ml-1 " > MARKET</span>
		</a>

    <hlm-sheet >
      <div class="flex">

        <button   brnSheetTrigger side="right" class="lg:hidden flex p-0.5 rounded-lg  items-center mr-1">
          <ng-icon hlm size='lg' name="lucideShoppingCart" class="" />
          <span class="float-end m-0 bg-red-400 text-white h-6 w-6 font-bold rounded-full text-md">1</span>
        </button>
      </div>

      <hlm-sheet-content *brnSheetContent='let carrito' class="bg-white w-[95%]">
          <hlm-sheet-header >
              <h3 hlmSheetTitle class="bg-blue-200 rounded-xl mx-1">carrito de compras</h3>
              <p hlmSheetDescription>Lista de productos</p>
          </hlm-sheet-header>
      </hlm-sheet-content>
    </hlm-sheet>




    <div class="hidden w-full md:block md:w-auto justify-between bg-red-400" id="navbar-default">
      <ul class=" bg-red-300 font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#" class="block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Home</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Services</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pricing</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>